<div class="modal-dialog modal-add-dul">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class=" modal-close-btn close" ng-click="ModalUsers.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="cm-title-admin common-color">
                <img src="../assets/images/icon_add_user.png" alt="Add User icon" class="cm-icons">
                <span>Add User</span>
                <div class="cm-title-description">Catalog a new User in the system</div>
            </h2>
        </div>
        <div class="modal-footer">
            <form class="form-horizontal" name="userForm" novalidate>
                <fieldset>
                    <div class="form-group admin-form-group first-form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Name</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text"  ng-model="user.displayName"
                                   name="inputName"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="User name" required>
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Google account id</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="email" ng-model="user.email"
                                   name="inputGoogleId"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="e.g. username@broadinstitute.org " required>
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Roles</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="checkbox">
                                    <input type="checkbox" id="member" class="checkbox-inline user-checkbox" ng-model="checkModel.member" add-role name="checkRoles" value="Member" ng-disabled="checkModel.chairperson || checkModel.alumni || checkModel.researcher">
                                    <label class="regular-checkbox rp-choice-questions" for="member">Member</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="chairperson" class="checkbox-inline user-checkbox" ng-model="checkModel.chairperson" add-role name="checkRoles" value="Chairperson" ng-disabled="checkModel.member || checkModel.alumni || checkModel.researcher"  ng-click="changeChairpersonRoleAlert()">
                                    <label class="regular-checkbox rp-choice-questions" for="chairperson">Chairperson</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="alumni" class="checkbox-inline user-checkbox" ng-model="checkModel.alumni" add-role name="checkRoles" value="Alumni" ng-disabled="checkModel.member || checkModel.chairperson">
                                    <label class="regular-checkbox rp-choice-questions" for="alumni">Alumni</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="checkbox">
                                    <input id="admin" type="checkbox" class="checkbox-inline user-checkbox" ng-model="checkModel.admin" add-role name="checkRoles" value="Admin">
                                    <label class="regular-checkbox rp-choice-questions" for="admin">Admin</label>
                                </div>

                                <div class="checkbox">
                                    <input id="researcher" type="checkbox" class="checkbox-inline user-checkbox" ng-model="checkModel.researcher" add-role name="checkRoles" value="Researcher" ng-disabled="checkModel.member || checkModel.chairperson">
                                    <label class="regular-checkbox rp-choice-questions" for="researcher">Researcher</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group alert-form-group">
                        <div class="admin-alerts">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="alert-title cancel-color">
                                <h4>{{alert.title}}</h4>{{alert.msg}}
                                <div class="warning">{{alert.warning}}</div>
                                    <span ng-if="alert.alertType == 1">
                                        <div class="row">
                                            <div class="alert-table-head">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 alert-table-subtitle">Consent name</div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-subtitle">User to delegate</div>
                                            </div>
                                            <div class="alert-table-body">
                                                <hr class="alert-table-separator">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items">Dr. Smith Breast Cancer set 5</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items alertSelect">
                                                        <select class="alert-table-select" ng-model="myselect_users" ng-options="o as o for o in options_users" required>
                                                            <option value="">Select a User </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr class="pvotes-separator">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items">Dr. Smith Breast Cancer set 12</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items alertSelect">
                                                        <select class="alert-table-select" ng-model="myselect_users2" ng-options="o as o for o in options_users2" required>
                                                            <option value="">Select a User </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr class="pvotes-separator">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items">Dr. Smith Breast Cancer set 13</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alert-table-items alertSelect">
                                                        <select class="alert-table-select" ng-model="myselect_users3" ng-options="o as o for o in options_users3" required>
                                                            <option value="">Select a User </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr class="pvotes-separator">
                                            </div>
                                        </div>
                                    </span>
                                    <span ng-if="alert.alertType == 3">
                                        <div class="alertSingleSelect">
                                            <select class="alert-select" name="select_chairperson" ng-model="myselect" ng-options="o as o for o in options" required>
                                                <option value="">Select a User </option>
                                            </select>
                                        </div>
                                    </span>
                            </alert>
                        </div>
                    </div>

                    <div class="admin-modal-footer">
                        <a href="#/admin_users">
                            <button ng-disabled="userForm.$invalid || user.roles.length === 0 "  class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn common-background" ng-click="ModalUsers.ok(user)">Add</button>
                        </a>
                        <button class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn dismiss-background" ng-click="ModalUsers.cancel()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
