<div class="modal-dialog modal-add-dul">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class=" modal-close-btn close" ng-click="DULModal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="cm-title-admin dul-color">
                <img src="../assets/images/icon_edit_dul.png" alt="Edit DUL icon" class="cm-icons">
                <span>Edit Data Use Limitations</span>
                <div class="cm-title-description">Edit a Data Use Limitations Record</div>
            </h2>
        </div>
        <div class="modal-footer">
            <form class="form-horizontal" name="consentForm" novalidate class="css-form">
                <fieldset>
                    <div class="form-group admin-form-group first-form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label dul-color">Consent Id</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text" ng-model="consent.consentId"
                                   ng-disabled=" true"
                                   name="inputConsentId"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="Consent Id">
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label dul-color">Name</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text" ng-model="consent.name"
                                   name="inputName"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="Name for the Data Use Limitations" required>
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label dul-color">Data Use Limitations File</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 bold">
                            <div class="fileUpload col-lg-3 col-md-3 col-sm-4 col-xs-12 upload-button">
                                <span>Upload file</span>
                                <span class="cm-icon-button glyphicon glyphicon-upload caret-margin" aria-hidden="true"></span>
                                <input type="file" ng-model="file.name"  file-upload class="upload" required />
                            </div>
                            <p class="fileName">{{file.name}}</p>
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label dul-color">Structured Limitations</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text" ng-model="consent.structuredDataUseLetter"
                                   name="inputSDUL"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="Structured string of the Data Use Limitations" required>
                        </div>
                    </div>
                    <div class="admin-modal-footer">
                        <div class="form-group alert-form-group">
                            <div class="admin-alerts">
                                <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="alert-title cancel-color">
                                    <h4>{{alert.title}}</h4>{{alert.msg}}
                                </alert>
                            </div>
                        </div>
                        <button ng-disabled="consentForm.$invalid || disableButton" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn dul-background" ng-click="DULModal.edit(consent)">Save</button>
                        <button  class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn dismiss-background" ng-click="DULModal.cancel()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
