<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="cm-title">Welcome DAC User!</br>
            <small>These are your pending cases for review</small>
        </h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="pvotes-box-title dul-color">
            <img src="assets/images/icon_dul.png" alt="Translation icon" class="pvotes-icons">Data Use Letter Review
            <div id="dulPendingCases" class="pcases-tag">4</div>
            </br><!--change to dynamic content-->
            <div class="pvotes-box-title-description">Were the consent limitations accurately converted into a
                machine-readable format?
            </div>
        </h2>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle dul-color">Consent id</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle dul-color">Vote
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">

                    <div ng-repeat="election in UserConsole.electionsList.dul">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{election.sampleId}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list {{election.status}}">
                                <span ng-if="election.status == 'urgent'">URGENT!</span>
                                <span ng-if="election.status == 'pending'">Pending</span>
                                <span ng-if="election.status == 'editable'">Editable</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{election.logged}}</div>
                            <a ng-href="{{election.link}}" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="voteButton {{election.status}}">
                                    <span
                                        ng-if="election.status == 'urgent' || election.status == 'pending'">Vote</span>
                                    <span ng-if="election.status == 'editable'">Edit</span>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <hr class="pvotes-separator">
                <div class="pvotes-pagination">
                    <ul class="pagination">


                        <li><a ng-click="UserConsole.changePage('dul', UserConsole.activePage.dul - 1)">&laquo;</a></li>
                        <li ng-repeat="page in UserConsole.currentPages.dul">
                            <a ng-click="UserConsole.changePage('dul', page)"
                               ng-class="{ 'active-case': UserConsole.activePage.dul == page}">{{page + 1}}</a>
                        </li>
                        <li><a ng-click="UserConsole.changePage('dul', UserConsole.activePage.dul + 1)">&raquo;</a></li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="pvotes-box-title access-color">
            <img src="assets/images/icon_access.png" alt="Access icon" class="pvotes-icons">Data Access Request
            <div id="accessPendingCases" class="pcases-tag">9</div>
            </br><!--change to dynamic content-->
            <div class="pvotes-box-title-description">Should the researcher be allowed to access this research
                studies?
            </div>
        </h2>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle access-color">Sample collection
                        id
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle access-color">Vote
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">


                    <div ng-repeat="election in UserConsole.electionsList.access">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{election.sampleId}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list {{election.status}}">
                                <span ng-if="election.status == 'urgent'">URGENT!</span>
                                <span ng-if="election.status == 'pending'">Pending</span>
                                <span ng-if="election.status == 'editable'">Editable</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{election.logged}}</div>
                            <a ng-href="{{election.link}}" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="voteButton {{election.status}}">
                                    <span
                                        ng-if="election.status == 'urgent' || election.status == 'pending'">Vote</span>
                                    <span ng-if="election.status == 'editable'">Edit</span>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
                <hr class="pvotes-separator">
                <div class="pvotes-pagination">
                    <ul class="pagination">


                        <li><a
                            ng-click="UserConsole.changePage('access', UserConsole.activePage.access - 1)">&laquo;</a>
                        </li>
                        <li ng-repeat="page in UserConsole.currentPages.access">
                            <a ng-click="UserConsole.changePage('access', page)"
                               ng-class="{ 'active-case': UserConsole.activePage.access == page}">{{page + 1}}</a>
                        </li>
                        <li><a
                            ng-click="UserConsole.changePage('access', UserConsole.activePage.access + 1)">&raquo;</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
