<div ng-include src="'app/header/header.html'"></div>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="cm-title">
            <div id="dacUser">Welcome {{currentUser.displayName}}!</div>
            <small>These are your pending cases for review</small>
        </h2>
        <hr class="section-separator">
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="pvotes-box-title dul-color">
            <img src="assets/images/icon_dul.png" alt="Translation icon" class="pvotes-icons">Data Use Limitations Review
            <div class="pvotes-box-title-description">Where the data use limitations accurately converted to a structured format?
            </div>
        </h2>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle dul-color">Consent id</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle dul-color">Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle dul-color">Vote
                          <div ng-show="UserConsole.totalDulPendingVotes > 0" class="pcases-small-tag">{{UserConsole.totalDulPendingVotes}}</div>
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div ng-repeat="pendingCase in UserConsole.electionsList.dul">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{pendingCase.referenceId}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list bold">
                                <span ng-if="pendingCase.status == 'urgent'">URGENT!</span>
                                <span ng-if="pendingCase.status == 'pending'">Pending</span>
                                <span ng-if="pendingCase.status == 'editable'">Editable</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{pendingCase.logged}}</div>
                            <a ui-sref="dul_review({consentId: '{{pendingCase.referenceId}}', voteId: '{{pendingCase.voteId}}'})" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="{{pendingCase.status}}">
                                    <span ng-if="pendingCase.alreadyVoted == false">Vote</span>
                                    <span ng-if="pendingCase.alreadyVoted == true">Edit</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="pvotes-separator">
                <div class="pvotes-pagination">
                    <ul class="pagination">
                        <li><a ng-click="UserConsole.changePage('dul', UserConsole.activePage.dul - 1)">&laquo;</a></li>
                        <li ng-repeat="page in UserConsole.currentPages.dul">
                            <a ng-click="UserConsole.changePage('dul', page)"
                               ng-class="{ 'active-case': UserConsole.activePage.dul == page}">{{page + 1}}</a>
                        </li>
                        <li><a ng-click="UserConsole.changePage('dul', UserConsole.activePage.dul + 1)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="pvotes-box-title access-color">
            <img src="assets/images/icon_access.png" alt="Access icon" class="pvotes-icons">Data Access Request
            <div class="pvotes-box-title-description">Should data access be granted to this applicant?
            </div>
        </h2>
        <div class="jumbotron box-vote-singleresults">
            <div class="row">
                <div class="pvotes-box-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-box-subtitle access-color">Data Request Id
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Status
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 center-text pvotes-box-subtitle access-color">
                        Logged
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 center-text pvotes-box-subtitle access-color">Vote
                        <div ng-show="UserConsole.totalAccessPendingVotes > 0" class="pcases-small-tag">{{UserConsole.totalAccessPendingVotes}}</div>
                    </div>
                    <hr class="pvotes-main-separator">
                </div>
                <div class="pvotes-box-body">
                    <div ng-repeat="pendingCase in UserConsole.electionsList.access">
                        <hr class="pvotes-separator">
                        <div class="row pvotes-main-list">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 pvotes-list-id">{{pendingCase.referenceId}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list {{pendingCase.status}}">
                                <span ng-if="pendingCase.status == 'urgent'">URGENT!</span>
                                <span ng-if="pendingCase.status == 'pending'">Pending</span>
                                <span ng-if="pendingCase.status == 'editable'">Editable</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 pvotes-list">{{pendingCase.logged}}</div>
                            <a ng-href="#/access_review/{{pendingCase.referenceId}}/{{pendingCase.voteId}}" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="{{pendingCase.status}}">
                                    <span ng-if="pendingCase.alreadyVoted == false">Vote</span>
                                    <span ng-if="pendingCase.alreadyVoted == true">Edit</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="pvotes-separator">
                <div class="pvotes-pagination">
                    <ul class="pagination">
                        <li><a ng-click="UserConsole.changePage('access', UserConsole.activePage.access - 1)">&laquo;</a>
                        </li>
                        <li ng-repeat="page in UserConsole.currentPages.access">
                            <a ng-click="UserConsole.changePage('access', page)"
                               ng-class="{ 'active-case': UserConsole.activePage.access == page}">{{page + 1}}</a>
                        </li>
                        <li><a
                            ng-click="UserConsole.changePage('access', UserConsole.activePage.access + 1)">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
