<div ng-include src="'app/header/header.html'"></div>
<div class="container" ng-controller="AdminUsers">
    <div class="row no-margin">
        <h2 class="col-lg-7 col-md-7 col-sm-6 col-xs-6 cm-title common-color no-padding">
            <img src="../assets/images/icon_manage_users.png" alt="Manage DUL icon" class="cm-icons">Manage Users
            <div class="cm-title-admin-description">Select and manage users and their roles</div>
        </h2>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 search-reviewed">
            <div class="search-text">
                <i class="glyphicon glyphicon-search common-color"></i>
                <input type="search" class="form-control users-search" placeholder="Enter search term..." ng-model="searchUsers"/>
            </div>
        </div>
        <div>
            <a class="col-lg-2 col-md-2 col-sm-3 col-xs-3 admin-add-button common-background"
               ng-click="AdminUsers.addUser()">
                <div class="all-icons add-user_white"></div>
                <span>Add User</span>
            </a>
        </div>
    </div>
    <div class="jumbotron box-vote-singleresults">
        <div class="row">
            <div class="pvotes-box-head">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle common-color">User Name</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle common-color">Google account id
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-box-subtitle common-color">User Roles</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle common-color f-center">Edit User
                </div>
            </div>
            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div ng-repeat="user in AdminUsers.usersList.dul | filter: searchUsers">
                    <div class="row pvotes-main-list admin-users-list">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">{{user.displayName}}</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{user.email}}</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pvotes-list-id">
                            <span class="admin-users-list" ng-repeat="role in user.roles">
                                <span class="enabled default-color" ng-if="role.name == 'Admin'">Admin</span>
                                <span class="enabled default-color" ng-if="role.name == 'Member'">Member</span>
                                <span class="enabled default-color" ng-if="role.name == 'Chairperson'">Chairperson</span>
                                <span class="enabled default-color" ng-if="role.name == 'Alumni'">Alumni</span>
                                <span class="enabled default-color" ng-if="role.name == 'Researcher'">Researcher</span>
                            </span>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn-edit">
                            <a href="#" ng-click="AdminUsers.editUser(user.email)">Edit</a>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
            </div>
            <div class="pvotes-pagination">
                <ul class="pagination">
                    <li><a ng-click="AdminUsers.changePage('dul', AdminUsers.activePage.dul - 1)">&laquo;</a></li>
                    <li ng-repeat="page in AdminUsers.currentPages.dul">
                        <a ng-click="AdminUsers.changePage('dul', page)"
                           ng-class="{ 'active-case': AdminUsers.activePage.dul == page}">{{page + 1}}</a>
                    </li>
                    <li><a ng-click="AdminUsers.changePage('dul', AdminUsers.activePage.dul + 1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

