<div ng-include src="'app/header/header.html'"></div>
<div class="container" ng-controller="AdminUsers">
    <div class="row no-margin">
        <h2 class="col-lg-9 col-md-9 col-sm-8 col-xs-8 cm-title common-color no-padding">
            <img src="../assets/images/icon_manage_users.png" alt="Manage DUL icon" class="cm-icons">Manage Users
            <div class="cm-title-admin-description">Select and manage users and their roles</div>
        </h2>
        <div>
            <a class="col-lg-3 col-md-3 col-sm-4 col-xs-4 admin-add-button common-background"
               ng-click="AdminUsers.addUser()">
                <div class="all-icons add-user_white"></div>
                <span>Add User</span>
            </a>
        </div>
    </div>
    <div class="jumbotron box-vote-singleresults">
        <div class="row">
            <div class="pvotes-box-head">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle common-color">User Name</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle common-color">Google account id
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pvotes-box-subtitle common-color">User Roles</div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pvotes-box-subtitle common-color f-center">Edit User
                </div>
            </div>
            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div ng-repeat="election in AdminUsers.electionsList.dul">
                    <div class="row pvotes-main-list admin-users-list">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{election.name}}</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{election.googleId}}</div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pvotes-list-id">
                            <div class="{{election.roles.admin}}">Admin</div>
                            <div class="{{election.roles.member}}">Member</div>
                            <div class="{{election.roles.chairperson}}">Chairperson</div>
                            <div class="{{election.roles.alumni}}">Alumni</div>
                            <div class="{{election.roles.researcher}}">Researcher</div>
                            <!--<span class="enabled" ng-if="election.roles.admin == 'enabled'">Admin</span>-->
                            <!--<span class="enabled" ng-if="election.roles.member == 'enabled'">Member</span>-->
                            <!--<span class="enabled" ng-if="election.roles.chairperson == 'enabled'">Chairperson</span>-->
                            <!--<span class="enabled" ng-if="election.roles.alumni == 'enabled'">Alumni</span>-->
                            <!--<span class="enabled" ng-if="election.roles.researcher == 'enabled'">Researcher</span>-->
                        </div>
                        <a href="#" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 btn-edit"
                           ng-click="AdminUsers.editUser()">Edit</a>
                    </div>
                    <hr class="pvotes-separator">
                </div>
            </div>
            <div class="pvotes-pagination">
                <ul class="pagination">
                    <li><a ng-click="AdminUsers.changePage('dul', AdminUsers.activePage.dul - 1)">&laquo;</a></li>
                    <li ng-repeat="page in AdminUsers.currentPages.dul">
                        <a ng-click="AdminUsers.changePage('dul', page)"
                           ng-class="{ 'active-case': AdminUsers.activePage.dul == page}">{{page + 1}}</a>
                    </li>
                    <li><a ng-click="AdminUsers.changePage('dul', AdminUsers.activePage.dul + 1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

