<div ng-include src="'app/header/header.html'"></div>
<div class="container" ng-controller="AdminManage">
    <div class="row no-margin">
        <h2 class="col-lg-9 col-md-9 col-sm-8 col-xs-8 cm-title dul-color no-padding">
            <img src="../assets/images/icon_manage_dul.png" alt="Manage DUL icon" class="cm-icons">Manage Data Use Limitations
            <div class="cm-title-admin-description">Select and manage Data Use Limitations for Data Access Committee review</div>
        </h2>
        <div>
            <a class="col-lg-3 col-md-3 col-sm-4 col-xs-4 admin-add-button dul-background" ng-click="AdminManage.addDul()">
                <div class="all-icons add-dul_white"></div>
                <span>Add Data Use Limitations</span>
            </a>
        </div>
    </div>
    <div class="jumbotron box-vote-singleresults">
        <div class="row">
            <div class="pvotes-box-head">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle dul-color">Consent id</div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-box-subtitle dul-color">Consent name</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center dul-color">Edit Record</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center dul-color">Election status</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-box-subtitle f-center dul-color">Election actions</div>
            </div>
            <div class="admin-box-body">
                <hr class="pvotes-main-separator">
                <div ng-repeat="election in AdminManage.electionsList.dul">
                    <div class="row pvotes-main-list">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list-id">{{election.consentId}}</div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pvotes-list-id">{{election.consentName}}</div>
                        <a href="#" class="admin-manage-buttons col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <!--<div class="{{election.editRecord}} hover-color">Edit</div>-->
                            <div ng-if="election.electionStatus != 'Open'" class="enabled hover-color" ng-click="AdminManage.editDul(election.consentId)">
                                <span>Edit</span>
                            </div>
                            <div ng-if="election.electionStatus == 'Open'" class="disabled hover-color">
                                <span ng-if="election.editRecord == 'disabled'">Edit</span>
                            </div>
                        </a>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pvotes-list bold">
                            <span ng-if="election.electionStatus == 'un-reviewed'">Un-reviewed</span>
                            <span ng-if="election.electionStatus == 'Open'">Open</span>
                            <span ng-if="election.electionStatus == 'Canceled'">Canceled</span>
                            <span ng-if="election.electionStatus == 'Closed'">Reviewed</span>
                        </div>
                        <div>
                            <a class="col-lg-2 col-md-2 col-sm-2 col-xs-2 admin-manage-buttons">
                                <div ng-if="election.electionStatus != 'Open'" class="create hover-color" ng-click="AdminManage.openCreate(election.consentId)">
                                   <span>Create</span>
                                </div>
                                <div ng-if="election.electionStatus == 'Open'" class="cancel hover-color" ng-click="AdminManage.openCancel(election)">
                                    <span>Cancel</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="pvotes-separator">
                </div>
            </div>
            <div class="pvotes-pagination">
                <ul class="pagination">
                    <li><a ng-click="AdminManage.changePage('dul', AdminManage.activePage.dul - 1)">&laquo;</a></li>
                    <li ng-repeat="page in AdminManage.currentPages.dul">
                        <a ng-click="AdminManage.changePage('dul', page)"
                           ng-class="{ 'active-case': AdminManage.activePage.dul == page}">{{page + 1}}</a>
                    </li>
                    <li><a ng-click="AdminManage.changePage('dul', AdminManage.activePage.dul + 1)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
