<div class="modal-dialog modal-add-dul">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class=" modal-close-btn close" ng-click="ModalUsers.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="cm-title-admin common-color">
                <img src="../assets/images/icon_add_user.png" alt="Add User icon" class="cm-icons">
                <span>Add User</span>
                <div class="cm-title-description">Catalog a new Data Access Committee User in the system</div>
            </h2>
        </div>
        <div class="modal-footer">
            <form class="form-horizontal" id="voteForm">
                <fieldset>
                    <div class="form-group admin-form-group first-form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Name</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text"
                                   name="inputName"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="User name">
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Google account id</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 admin-input">
                            <input type="text"
                                   name="inputGoogleId"
                                   class="form-control col-lg-12 vote-input"
                                   placeholder="e.g. username@broadinstitute.org">
                        </div>
                    </div>
                    <div class="form-group admin-form-group ">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label common-color">Roles</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-margin no-padding">
                                <div class="radio">
                                    <input type="radio" ng-model="radioModel.member" id="checkMember" class="checkbox-inline rp-checkbox" name="checkRoles">
                                    <label class="regular-checkbox rp-choice-questions" for="checkMember">Member</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" ng-model="radioModel.chairperson" id="checkChairperson" class="checkbox-inline rp-checkbox" name="checkRoles">
                                    <label class="regular-checkbox rp-choice-questions" for="checkChairperson">Chairperson</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" ng-model="radioModel.alumni" id="checkAlumni" class="checkbox-inline rp-checkbox" name="checkRoles">
                                    <label class="regular-checkbox rp-choice-questions" for="checkAlumni">Alumni</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-margin no-padding">
                                <div class="checkbox">
                                    <input ng-model="checkModel.admin" id="checkAdmin" type="checkbox" class="checkbox-inline rp-checkbox" name="checkRoles">
                                    <label class="regular-checkbox rp-choice-questions" for="checkAdmin">Admin</label>
                                </div>

                                <div class="checkbox">
                                    <input ng-model="checkModel.researcher" id="checkResearcher" type="checkbox" class="checkbox-inline rp-checkbox" name="checkRoles">
                                    <label class="regular-checkbox rp-choice-questions" for="checkResearcher">Researcher</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select ng-model="myselect" ng-options="o as o for o in options"></select>
                    </div>
                    <div class="admin-modal-footer">
                        <button type="button" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn common-background" ng-click="ModalUsers.ok()">Add</button>
                        <button type="button" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 btn dismiss-background" ng-click="ModalUsers.cancel()">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
