<div class="modal-dialog modal-alerts">
    <div class="modal-content">
        <div class="modal-header admin-modal-header">
            <button type="button" class="modal-close-btn close" ng-click="Modal.cancel()"><span aria-hidden="true">&times;</span></button>
            <h2 class="pvotes-box-title dul-color">Create election?
                <small>Are you sure you want the DAC to vote on this case?</small>
            </h2>
        </div>
        <div class="modal-footer admin-modal-footer">
            <button type="button" class="btn dismiss-background" ng-click="Modal.cancel()">No</button>
            <button type="button" class="btn dul-background" ng-click="Modal.ok()">Yes</button>
        </div>
    </div>
</div>
